.btn-large {
    margin-bottom: 12px;
}
.parallax-container {
    overflow: visible;
    height:300px;
}
.parallax-container img {
    width:100%;
}
@media screen and (max-width: 992px) {
    .parallax-container {
        height:200px;
    }
}
@media screen and (max-width: 600px) {
    .parallax-container {
        height:100px;
    }
}