.btn-large {
    margin-bottom: 12px;
}
img.tooltipped {
    margin-bottom: 16px;
    margin-left: 8px;
    width: 48px;
}
.modal-content img {
    width: 300px;
}
.modal {
    max-height: 90%;
}
.parallax-container {
    overflow: visible;
    height:300px;
}
.parallax-container img {
    width:100%;
}
@media screen and (max-width: 992px) {
    .parallax-container {
        height:200px;
    }
}
@media screen and (max-width: 600px) {
    .parallax-container {
        height:100px;
    }
}